.loginContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loginForm {
    border: solid 2px white;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 20px;
    -webkit-box-shadow: 4px 3px 3px 1px rgba(18, 7, 18, 0.51);
    -moz-box-shadow: 4px 3px 3px 1px rgba(18, 7, 18, 0.51);
    box-shadow: 4px 3px 3px 1px rgba(18, 7, 18, 0.51);
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.76);
}

.loginFormImput {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.loginFormField {
    border-radius: 6px;
    background-color: transparent;
    color: white;
    border: solid 1px white;
    padding: 5px;
    -webkit-box-shadow: 4px 3px 3px 1px rgba(18, 7, 18, 0.51);
    -moz-box-shadow: 4px 3px 3px 1px rgba(18, 7, 18, 0.51);
    box-shadow: 4px 3px 3px 1px rgba(18, 7, 18, 0.51);
}

.loginFormField::placeholder{
    color: white;
    opacity: 0.5;
}

.loginFormField:active {
    outline: rgb(195, 195, 197);
    border-color: rgb(195, 195, 197);
}

.error {
    color: #ff6b6b;
}

.loginFormLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

.loginFormLinkA {
    border: solid 1px transparent;
    background: #105cbd;
    color: white;
    border-radius: 6px;
    padding: 7px;
    cursor: pointer;
    -webkit-box-shadow: 4px 3px 3px 1px rgba(18,7,18,0.51);
    -moz-box-shadow: 4px 3px 3px 1px rgba(18,7,18,0.51);
    box-shadow: 4px 3px 3px 1px rgba(18,7,18,0.51);
    text-shadow: 2px 3px 2px rgba(0,0,0,0.76);
    text-decoration: none;
}

.loginFormLinkA:hover {
    background: #0530f0;
    -webkit-box-shadow: 3px 3px 3px 1px rgba(20,20,20,1);
    -moz-box-shadow: 3px 3px 3px 1px rgba(20,20,20,1);
    box-shadow: 3px 3px 3px 1px rgba(20,20,20,1);
}
