.form {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-top: 20px;
    padding: 10px;
    border: solid 1px black;
    border-radius: 6px;
}

.formItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.formButton {
    width: 100px;
    padding: 5px;
    margin: 0 auto;
}

.error {
    color: red;
}

.formInput {
    border-radius: 6px;
}

.formInput:focus {
    outline: rgb(50, 147, 204);
    border-color: rgb(50, 147, 204);
}